<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!-- 继承spring boot 提供的着色器 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_DIR" value="logs"/>
    <!-- 默认不会删除日志 -->
    <property name="FILE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %logger - %m%n"/>
    <property name="CONSOLE_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%logger){cyan} %clr(-){faint} %m%n%wEx"/>
    <property name="asyncIncludeCallerData" value="false"/>

    <logger name="com.netflix.discovery.shared.resolver.aws.ConfigClusterResolver" level="ERROR"/>
    <!-- 不设置defaultValue的原因是允许test环境配置中再次指定参数 -->
    <springProperty name="MAX_HISTORY" source="logging.extends.max-history" scope="context" />
    <springProperty name="APPLICATION_NAME" source="spring.application.name" defaultValue="UNKNOWN" scope="context" />
    <springProperty name="ELK_LOG_HOME" source="logging.elk.home" scope="context"/>
    <springProperty name="ELK_LOG_LEVEL" source="logging.elk.level" defaultValue="DEBUG" scope="context"/>
    <springProperty name="ELK_INDEX_FORMAT" source="logging.elk.index-format" defaultValue="yyyy-MM" scope="context"/>
    <!-- 关闭logback项目本身的日志输出，如果要观察logback的启动日志，可以注释掉 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <jmxConfigurator/>

</included>