<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 继承模板配置 -->
    <include resource="logback/logback-common.xml"/>
    <!-- 引入appender -->
    <include resource="logback/logback-info-appender.xml"/>
    <include resource="logback/logback-error-appender.xml"/>
    <include resource="logback/logback-elk-appender.xml"/>

    <root level="info">
        <appender-ref ref="ASYNC_INFO"/>
        <appender-ref ref="ASYNC_ERROR"/>
        <appender-ref ref="ASYNC_ELK"/>
    </root>

</configuration>
